/* Remove default margins and padding from all elements and add different box sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, header, footer, .nav-bar {
    display: flex;
}

body {
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

header, footer {
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
}

footer {
    justify-content: center;
    align-items: center;
}

.nav-bar {
    justify-content: space-between;
}

