/* Remove default margins and padding from all elements and add different box sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, header, main, footer, .nav-bar, .nav-links, .hero-section {
    display: flex;
}

body {
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

header, footer {
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
}

footer {
    justify-content: center;
    align-items: center;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
}

.nav-bar, .hero-section {
    padding-left: 80px;
    padding-right: 80px;
}

#logo {
    font-size: 24px;
}

.nav-links {
    gap: 20px;
    list-style-type: none; 
    text-transform: capitalize;
}

.nav-links a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.nav-links a, .intro button, .intro-img img {
    transition: .8s ease;
}

.nav-links a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.hero-section {
    gap: 15px;
    padding-top: 80px;
    padding-bottom: 60px;
}

.hero-section h1 {
    font-size: 48px;    
    font-weight: 900;
    line-height: 55px;
}

.nav-links a, .description {
    color: #e5e7eb;
    font-size: 18px;
}

.intro p, .intro button {
    margin-top: 27px;
}

.intro button {
    border-radius: 35px;
    border: none;
    padding: 7px 25px;
    font-size: 17px;
    background-color: #4aecff;
}

.intro button:hover {
    background-color: #ffffff;
    color: #000000;
}

.intro-img img:hover {
    opacity: .8;
}

main {
    flex-direction: column;
    flex-grow: 1;
}